$wrapper
  max-width $contentWidth
  // margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    max-width 100%
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    max-width 100%
    padding 1.5rem
