html
  scroll-behavior smooth

body
  font-size 15px

img
  display inline-block
  padding 0 4px
  vertical-align bottom

s
  color $arrowBgColor

h1
  font-size 2.0rem

h2
  font-size 1.5rem

.index {$contentClass}
  max-width calc(100vw - 20rem - 80px)
  @media (max-width: $MQNarrow)
    max-width 100%

.page-header
  position relative
  margin-top 24px
  margin-left -40px
  margin-right -40px
  padding 40px
  color white
  background-color black
  background-size cover
  background-repeat no-repeat
  background-position center

  &:before
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(0, 0, 0, .3)

  &.index
    background-image url('https://touneko.github.io/the-epic-of-alex/coverindex.jpg')

  &.phase1
    background-image url('https://touneko.github.io/the-epic-of-alex/cover1.jpg')

  &.phase2
    background-image url('https://touneko.github.io/the-epic-of-alex/cover2.jpg')

  &.phase3
    background-image url('https://touneko.github.io/the-epic-of-alex/cover3.jpg')

  &.phase35
    background-image url('https://touneko.github.io/the-epic-of-alex/cover35.jpg')

  &.phase4
    background-image url('https://touneko.github.io/the-epic-of-alex/cover4.jpg')

  &.phaselc
    background-image url('https://touneko.github.io/the-epic-of-alex/coverlc.jpg')


  &-content
    position relative

  h1, p
    margin-top 0.25em
    margin-bottom 0.25em
    text-shadow 0 0 5px rgba(0, 0, 0, .5)
  p
    font-weight bold

.footer
  margin-top 4rem
  font-size 12px
  color $arrowBgColor