// color
$accentColor = #0275FF
$textColor = #000000
$borderColor = #F3F3F3
$codeBgColor = #323237
$arrowBgColor = #D6D6D6
$badgeTipColor = #03B096
$badgeWarningColor = darken(#FFF571, 35%)
$badgeErrorColor = #FF1923

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = calc(100vw - 20rem - 280px - 80px)
$homePageWidth = 640px

// breakpoint
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px